name: 'comment_service'

services:
  
  domic.comment.service:
    networks:
      - domic
    image: domic_comment_service_image:1.0.0
    container_name: "domic_comment_service"
    build:
      context: .
      dockerfile: Dockerfile
    restart: on-failure
    ports:
      - "1080-1100:443"
    volumes:
      - ~/services/Logs/Domic-CommentService/:/app/CoreLogs
      - ~/services/Domic-CommentService/.https/:/https/
    environment:
      - Elastic-Host=http://domic.elastic.search:9200
      - Elastic-Index=comment
      - Elastic-Username=domic
      - Elastic-Password=Domic123!@#
      - E-RabbitMQ-Host=domic.rabbit.mq
      - E-RabbitMQ-Port=5672
      - E-RabbitMQ-Username=domic
      - E-RabbitMQ-Password=Domic123!@#
      - I-RabbitMQ-Host=
      - I-RabbitMQ-Port=
      - I-RabbitMQ-Username=
      - I-RabbitMQ-Password=
      - E-RedisConnectionString=domic.redis:6379
      - I-RedisConnectionString=domic.redis:6379
#     - I-RedisConnectionString=domic.comment.redis:6379
      - MongoConnectionString=
      - C-SqlServerConnectionString=Server=domic.sql.server,1433;Database=CommentService;User ID=sa;Password=Domic123!@#;Persist Security Info=True;MultipleActiveResultSets=True;TrustServerCertificate=True;
#     - C-SqlServerConnectionString=Server=domic.comment.command.sql.server,1433;Database=CommentService;User ID=sa;Password=Domic123!@#;Persist Security Info=True;MultipleActiveResultSets=True;TrustServerCertificate=True;
      - Q-SqlServerConnectionString=
      - Host=domic.comment.service
      - Port=443
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_URLS=https://+:443;http://+:80
      - ASPNETCORE_Kestrel__Certificates__Default__Password=Domic123!@#
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/Domic.WebAPI.pfx

#   depends_on:
#     - domic.comment.command.sql.server
#     - domic.comment.redis
    
#   domic.comment.command.sql.server:
#     networks:
#       - domic
#     image: 'mcr.microsoft.com/mssql/server'
#     container_name: "domic_comment_command_sql_server"
#     ports:
#       - 1780:1433
#     environment:
#       - ACCEPT_EULA=Y
#       - SA_PASSWORD=Domic123!@#
  
#   domic.comment.redis:
#     networks:
#       - domic
#     image: 'redis'
#     container_name: 'domic_comment_redis'
#     command: 'redis-server'
#     ports:
#       - 9380:6379
    
networks:
  domic:
    external: true